USE [edit]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 8/23/2021 5:11:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[UserName] [nvarchar](30) NOT NULL,
	[Password] [nchar](10) NULL,
	[UserLevel] [varchar](20) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[History]    Script Date: 8/23/2021 5:11:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[History](
	[Anh] [varchar](50) NOT NULL,
	[Viet] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_History] PRIMARY KEY CLUSTERED 
(
	[Anh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Loaitu]    Script Date: 8/23/2021 5:11:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loaitu](
	[id] [int] NOT NULL,
	[wordtype] [nvarchar](max) NULL DEFAULT (NULL)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_edict_1]    Script Date: 8/23/2021 5:11:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_edict_1](
	[idx] [int] NOT NULL,
	[word] [nvarchar](255) NULL DEFAULT (NULL),
	[wordtype] [nvarchar](max) NULL DEFAULT (NULL),
	[spelling] [nvarchar](max) NULL DEFAULT (NULL),
	[means] [nvarchar](max) NULL DEFAULT (NULL),
 CONSTRAINT [PK_tbl_edict_1_idx] PRIMARY KEY CLUSTERED 
(
	[idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_edict_2]    Script Date: 8/23/2021 5:11:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_edict_2](
	[idx] [int] NOT NULL,
	[word] [nvarchar](255) NULL DEFAULT (NULL),
	[wordtype] [nvarchar](max) NULL DEFAULT (NULL),
	[spelling] [nvarchar](max) NULL DEFAULT (NULL),
	[means] [nvarchar](max) NULL DEFAULT (NULL),
 CONSTRAINT [PK_tbl_edict_2_idx] PRIMARY KEY CLUSTERED 
(
	[idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[Account] ([UserName], [Password], [UserLevel]) VALUES (N'admin', N'admin     ', N'Admin')
INSERT [dbo].[Account] ([UserName], [Password], [UserLevel]) VALUES (N'thinh', N'thinh     ', N'Customer')
INSERT [dbo].[Loaitu] ([id], [wordtype]) VALUES (1, N'Tính từ')
INSERT [dbo].[Loaitu] ([id], [wordtype]) VALUES (2, N'Danh từ')
INSERT [dbo].[Loaitu] ([id], [wordtype]) VALUES (3, N'Phó từ')
INSERT [dbo].[tbl_edict_1] ([idx], [word], [wordtype], [spelling], [means]) VALUES (1, N'Be', N'Động từ', N'bi', N' thì, là, ở')
INSERT [dbo].[tbl_edict_1] ([idx], [word], [wordtype], [spelling], [means]) VALUES (2, N'Have', N'Động từ', N'hæv', N'có')
INSERT [dbo].[tbl_edict_1] ([idx], [word], [wordtype], [spelling], [means]) VALUES (3, N'Do', N'Động từ', N'du', N'làm')
GO
INSERT [dbo].[tbl_edict_2] ([idx], [word], [wordtype], [spelling], [means]) VALUES (1, N'Be', N'Động từ', N'bi', N' thì, là, ở')
INSERT [dbo].[tbl_edict_2] ([idx], [word], [wordtype], [spelling], [means]) VALUES (2, N'Have', N'Động từ', N'hæv', N'có')
INSERT [dbo].[tbl_edict_2] ([idx], [word], [wordtype], [spelling], [means]) VALUES (3, N'Do', N'Động từ', N'du', N'làm')
GO
